<h1>Listing users</h1>

<% if notice %>
<p id='notice'><%= notice %></p>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Admin</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.admin.to_s %></td>
    
    <td><%= link_to 'Show', user, class:".btn btn-success space-link" %></td>
    <td><%= link_to 'Edit', edit_user_path(user), class:".btn btn-inverse space-link" %></td>
    <td><%= link_to 'Destroy', user, class:".btn btn-danger space-link", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path, class:".btn btn-primary space-link" %>
