<%= flash[:notice] if flash[:notice] %>

<h1> Videos Administration </h1>
<h2><%= pluralize @videos.size, 'Video' %></h2>

<%= link_to "Add A New Video", new_video_path %>

<% @videos.each do |video| %>

<article>
  <table>
   <tr>
     <td>
       <%= video_tag(video.video_url.to_s, poster: video.image_placeholder, controls: true, autobuffer: true, class: 'poster_thumbnail') %>
     </td>
     <td>
       <dl>
         <dt><%= link_to video.title, video_path(video) %></dt>
         <dd><%= truncate video.description, length: 80, separator: ' ' %></dd>
       </dl>
     </td>
     <td>
       <%= link_to 'Show', video_path(video) %><br />
       <%= link_to 'Edit',  edit_video_path(video) %><br/>
       <%= link_to 'Destroy', video_path(video), method: :delete, data: {confirm: 'Are you sure?'} %>
     </td>
   </tr>
  </table>

  
  
</article>

<% end %>
