<%= flash[:notice] if flash[:notice] %>

<h1> <%= @video.title %></h1>

<article>
  <table>
   <tr>
     <td>
       <%= video_tag(@video.video_url.to_s, poster: @video.image_placeholder, controls: true, autobuffer: true, size: "640x480") %>
     </td>
     <td>
       <dl>
         <dt><%= link_to @video.title, video_path(@video) %></dt>
         <dd><%= truncate @video.description, length: 140, separator: ' ' %></dd>
       </dl>
     </td>
     <% if current_user && current_user.admin %>
     <td>
       <%= link_to 'Back', videos_path, class: ".btn btn-primary space-link" %><br /><br/>
       <%= link_to 'Edit',  edit_video_path(@video), class: ".btn btn-inverse space-link" %><br/><br/>
       <%= link_to 'Destroy', @video, class: ".btn btn-danger space-link", method: :delete, data: {confirm: 'Are you sure?'} %>
     </td>
     <% end %>
   </tr>
  </table>
</article>