<h1>Listing orders</h1>

<% if notice %>
<p id='notice'><%= notice %></p>
<% end %>

<table>
  <tr>
    <th>Username</th>
    <th>Order name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Payment Method</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    
    <td><%= username_related_to_order(order) %></td>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td><%= order.email %></td>
    <td><%= order.pay_type %></td>
  
  
    <td><%= link_to 'Destroy', order, class: '.btn btn-danger space-link', method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />


