<%= flash[:notice] if flash[:notice] %>

<h1> Videos Store </h1>
<h2><%= pluralize @videos.size, 'Video' %></h2>

<% @videos.each do |video| %>

<article>
  <table>
   <tr>
     <td>

       <%= image_tag(video.image_placeholder, class: 'poster_thumbnail') %>
     </td>
     <td>
       <dl>
         <dt><%= link_to video.title, video_path(video) %></dt>
         <dd><%= video.description %></dd>
       </dl>
     </td>
     <td>
       <%= number_to_currency(video.price) %><br />
       <%= button_to 'Add to Cart', line_items_path(video) %>
     </td>
   </tr>
  </table>
  
</article>

<% end %>