= flash[:notice] if flash[:notice]

%h1 Video Store
%h6.video_nbr
  = pluralize(@videos.size, 'Video')

- @videos.each do |video|

  %article.video_table
    %table
      %tr
        %td
          = image_tag(video.image_placeholder, class: 'poster_thumbnail', size: "220*331")
        %td
          %dl
            %dt
              = link_to video.title, '#'
            %dd
              = video.description
        %td
          - if current_user && video.has_been_paid?
            %strong= "Paid!"
            %br/
            = button_to 'Watch', video_path(video), class: ".btn btn-success", method: :get
          - elsif current_user && already_in_cart?(video)
            %emphasize= "Already In Cart"
            %br/
            = button_to 'Back to Cart', line_items_path(video), class: ".btn btn-inverse"

          - else
            = number_to_currency(video.price)
            %br/
            = button_to 'Add to Cart', line_items_path(video), class: ".btn btn-primary"
